<h1>Listing autos</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @autos.each do |auto| %>
  <tr>
    <td><%= auto.price %></td>
    <td><%= auto.title %></td>
    <td><%= link_to 'Show', auto %></td>
    <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
    <td><%= link_to 'Destroy', auto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Auto', new_auto_path %>
