<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @auto.title %>
</p>

<p>
  <b>Price:</b>
  <%= @auto.price %>
</p>


<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
